.view{
    background: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--color-gray);
}
.btn {
    padding: 1rem 2rem;
    background: var(--color-gray);
    font-size: 1.3rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}